.comp_demo {
  background-color: #ffa500;
  .parrafos {
    color: #0000ff;
    font-size: 20px;
  }
  .botoncito {
    background: #2b542c;
  }
  .colprueba {
    p {
      background: #2e6da4;
    }
  }
}